// COLORS
$primary-color: #8a092a;
$secondary-color: #000000;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(108, 114, 177);

$dark-grey: #000000;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
